* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== HEADER & NAVIGASI ===== */
header {
    background-color: #f7c1d9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4a0033;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
}

/* ===== BERANDA ===== */
.beranda {
    text-align: center;
    padding: 40px;
    background-color: #fff0f6;
}

.beranda img {
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* ===== TENTANG ===== */
.tentang {
    padding: 40px;
    background-color: #ffffff;
}

.tentang h2 {
    margin-bottom: 15px;
}

/* ===== PRODUK ===== */
.produk {
    padding: 40px;
    background-color: #ffe4ef;
}

.produk-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* ===== Promo ===== */
#promo {
    padding: 40px;
    background-color: #ffe4ef;
}

.promo-box {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px auto;
    border-radius: 10px;
    width: 70%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.promo-box h3 {
    color: #d81b60;
    margin-bottom: 10px;
}


/* ===== KONTAK ===== */
.kontak {
    padding: 40px;
    background-color: #ffffff;
}

/* ===== FOOTER ===== */
footer {
    background-color: #f7c1d9;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
